@font-face {
  font-family: StarryStitch;
  src: url(Images/starry_stitch.ttf);
}

h1 {
	font-size: 80px;
	color: #ffffff;
	font-family: StarryStitch;
}

body {
 background-image: url("Images/255161.gif");
}

div.gallery {
  border: 5px solid #ffffff;
}

div.gallery:hover {
  border: 5px solid #ffffff;
}

div.gallery img {
  width: 101%;
  height: auto;
}

div.desc {
  padding: 7px;
  text-align: center;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5 10px;
  float: left;
  width: 24.99999%;
  color: #ffffff;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 5px 5;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div.BackHome{
	
	position: absolute; 
	left: 75x;
	top: 5px;
}
