@font-face {
  font-family: StarryStitch;
  src: url(Images/starry_stitch.ttf);
}

h1 {
	font-size: 80px;
	color: #ffffff;
	font-family: StarryStitch;
}

body {
 background-image: url("Images/255161.gif");
}

div.BackHome{
	
	position: absolute; 
	left: 75x;
	top: 5px;
}

div.gallery {
  display: flex;
  
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  width: auto;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 640px;
  height: 360px;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}
