div.home {
  	display: flex;
	margin: 25%;
	align-items: center;
}

@font-face {
  font-family: StarryStitch;
  src: url(Images/starry_stitch.ttf);
}

h1 {
	font-size: 80px;
	color: #ffffff;
	font-family: StarryStitch;
}

body {
 background-image: url("Images/289235.gif");
 background-color: #cccccc;	
}



div.Corner {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

div.tips{
	position: absolute;
	bottom: 8px;
    left: 16px;
	
}

div.socials{
	position: absolute;
	bottom: 8px;
    left: 230px;
	
}

div.socials2{
	position: absolute;
	bottom: 5px;
    left: 300px;
	
}

p{
	font-size: 20px;
	color: #ffffff;
}
