html, body{
	height: 100%;
	margin: 0;	
}

.center-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

@font-face {
  font-family: StarryStitch;
  src: url(Images/starry_stitch.ttf);
}



h1 {
	font-size: 80px;
	color: #ffffff;
	font-family: StarryStitch;
}

body {
 background-image: url("Images/289235.gif");
 background-color: #cccccc;	
}

div.EditIcon{
 
  top: 300px;
  right: 1200;
  width: 200px;
  height: 100px;

}

div.ContactIcon{
  
  top: 300px;
  right: 800;
  width: 200px;
  height: 100px;
}

div.OtherIcon{
  
  top: 300px;
  right: 400;
  width: 200px;
  height: 100px;

}


div.ArtIcon{

  top: 600px;
  right: 950;
  width: 200px;
  height: 100px;
}

div.PhotoIcon{

  top: 600px;
  right: 550;
  width: 200px;
  height: 100px;
}

div.Corner {

  bottom: 8px;
  right: 16px;
}

div.tips{
	position: absolute;
	bottom: 8px;
    left: 16px;
	
}

div.socials{
	position: absolute;
	bottom: 8px;
    left: 230px;
	
}

div.socials2{
	position: absolute;
	bottom: 5px;
    left: 300px;
	
}

p{
	font-size: 20px;
	color: #ffffff;
}
